.gbz-variants {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -24px -24px 0;
  }

  &__item {
    flex: 1 1 300px;
    margin: 0 24px 24px 0;
  }
}

.gbz-variant {
  border: 1px solid var(--border-color);
  border-radius: 2px;
  transition: border-color .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  @media screen and (max-width: $mediaWidthMobile) {
    padding: 15px;
  }

  &:hover {
    border-color: var(--accent-color);
  }

  &_selected {
    transform: translateY(-10px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);

    .gbz-variant__btn {
      background-color: var(--alt-accent-color);

      &:hover {
        background-color: var(--accent-color);
      }
    }
  }

  &__img {
    height: 207px;
    border-radius: 20%;
    margin-bottom: 25px;
  }

  &__title {
    font-size: 26px;
    margin: 0 0 10px;
  }

  &__desc {
    color: var(--muted-text-color);
    max-width: 295px;
    margin: 0 0 18px;
  }

  &__price {
    color: var(--alt-accent-color);
    font-weight: 700;
    font-size: 32px;
    margin: 0 0 18px;
  }
}
