* {
  box-sizing: border-box;
}

.gbz-products-set-page {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.gbz-title {
  color: var(--muted-text-color);
  font-size: 46px;
  font-weight: 700;
  text-align: center;
  margin: 100px 0 48px;
}
